.tree-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 240px;
  height: 288px;
  z-index: 2;
}

.tree-body {
  width: 234px;
  height: 222px;
}

.tree-base {
  width: 43px;
  height: 66px;
}

.tree-edge {
  overflow: visible;
  stroke: green;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
