.tree-container {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 240px;
  height: 288px;
  z-index: 2;
}

.tree-body {
  width: 234px;
  height: 222px;
}

.tree-base {
  width: 43px;
  height: 66px;
}

.tree-body-stroke,
.tree-base-stroke {
  overflow: visible;
  stroke-width: 1.5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.tree-body-stroke {
  stroke: #00552e;
}

.tree-base-stroke {
  stroke: #331414;
}
